body {
  --bg: #fff;
  --fadeBg: #eee;
  --textPrimary: rgba(0, 0, 0, 0.88);
  --textSecondary: rgba(0, 0, 0, 0.6);
  --textTertiary: rgba(0, 0, 0, 0.4);
  --hr: hsla(0, 0%, 0%, 0.2);
  --shadow: hsla(0, 0%, 0%, 0.1);

  background-color: var(--bg);
  color: var(--textSecondary);
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #222;
  --fadeBg: #333;
  --textPrimary: rgba(255, 255, 255, 0.85);
  --textSecondary: rgba(255, 255, 255, 0.6);
  --textTertiary: rgba(255, 255, 255, 0.4);
  --hr: hsla(0, 0%, 100%, 0.2);
  --shadow: hsla(0, 0%, 0%, 0.15);
}
