@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --bg: #fff;
  --primary: #1a202c;
  --secondary: #4a5568;
  --faded: #f7fafc;
  --ascending: #38b2ac;

  background-color: var(--bg);
  color: var(--secondary);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1a202c;
  --primary: #ffffff;
  --secondary: #bcc3ce;
  --faded: #2d3748;
}
